@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte1: 'passion one', 'cursive';
    --fonte2: 'sriracha', 'cursive';
    --cor1: #000000;
    --cor2: #FFFFFF;
}

*{
    padding: 0px;
    margin: 0px;
}

section{
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin: 20px, 0px, 20px, 0px;
}

p{
    font-family: var(--fonte2);
    font-size: 2vw;
    padding-left: 80px;
}

section>P.image{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    max-width: 40%;
    margin: 40px;
    padding : 40px;
}


#image1{
    box-shadow: inset 13px 13px 23px 0px rgba(0, 0, 0, 0.562);
    background: white  url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

#image2{
    box-shadow: inset 13px 13px 23px 0px rgba(0, 0, 0, 0.562);
    background: white  url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

.space{
    margin-top: 4%;
}