@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte1: 'passion one', 'cursive';
    --fonte2: 'sriracha', 'cursive';
    --cor1: #000000;
    --cor2: #FFFFFF;
}

*{
    padding: 0px;
    margin: 0px;
}

footer>p{
    background-color: var(--cor1);
    text-align: center;
    font-size: 1vw;
    color: var(--cor2);
    padding: 05px;
    margin: 0px;
}
